NEXTAUTH_URL="http://localhost:3000"

AUTH_SECRET="replace-with-a-long-random-secret"

ENCRYPTION_KEY="base64-encoded-32-byte-key"

RESEND_WEBHOOK_SECRET="whsec_xxxxxxxxx"

# Connect to Supabase via connection pooling
DIRECT_URL="postgresql://postgres.[USERNAME]:[PASSWORD]@[HOST]:[PORT]/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DATABASE_URL="postgresql://postgres.[USERNAME]:[PASSWORD]@[HOST]:[PORT]/postgres"