@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 33% 98%;
  --foreground: 180 16% 16%;
  --card: 0 0% 100%;
  --card-foreground: 180 16% 16%;
  --primary: 171 48% 38%;
  --primary-foreground: 48 100% 97%;
  --secondary: 44 39% 94%;
  --secondary-foreground: 180 16% 20%;
  --muted: 45 20% 92%;
  --muted-foreground: 182 8% 40%;
  --accent: 15 72% 61%;
  --accent-foreground: 30 20% 10%;
  --destructive: 0 72% 52%;
  --destructive-foreground: 0 0% 100%;
  --border: 182 15% 82%;
  --input: 182 15% 82%;
  --ring: 171 48% 38%;
  --font-sans: "Manrope";
}

.dark {
  --background: 195 28% 10%;
  --foreground: 45 40% 96%;
  --card: 195 25% 14%;
  --card-foreground: 45 40% 96%;
  --primary: 171 45% 52%;
  --primary-foreground: 180 18% 10%;
  --secondary: 193 20% 19%;
  --secondary-foreground: 44 40% 92%;
  --muted: 193 20% 19%;
  --muted-foreground: 183 10% 70%;
  --accent: 18 76% 58%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 62% 48%;
  --destructive-foreground: 0 0% 100%;
  --border: 193 18% 25%;
  --input: 193 18% 25%;
  --ring: 171 45% 52%;
}

* {
  @apply border-border;
}

body {
  @apply min-h-screen bg-background bg-glow text-foreground antialiased;
}

code,
pre {
  font-family: Consolas, Monaco, monospace;
}
